<!DOCTYPE html>
<html>
<head>
	<title>Home</title>
	<style>
	ul {
	    list-style-type: none;
	    margin: 0;
	    padding: 0;
	    overflow: hidden;
	    background-color: #333;
	}

	li {
	    float: left;
	}

	li a, .dropbtn {
	    display: inline-block;
	    color: white;
	    width: 190px;
	    text-align: center;
	    padding: 14px 16px;
	    text-decoration: none;
	}

	li a:hover, .dropdown:hover .dropbtn {
	    background-color: red;
	}

	li.dropdown {
	    display: inline-block;
	}

	.dropdown-content {
	    display: none;
	    position: absolute;
	    background-color: #f9f9f9;
	    min-width: 160px;
	    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	    z-index: 1;
	}

	.dropdown-content a {
	    color: black;
	    padding: 12px 16px;
	    text-decoration: none;
	    display: block;
	    text-align: left;
	}

	.dropdown-content a:hover {background-color: #f1f1f1}

	.dropdown:hover .dropdown-content {
	    display: block;
	}
	</style>
	<style> html, body {background-color: #b3daff; } </style>
</head>
<body>
	<h1><center>Update User!</center></h1>
	<ul>
		  <li><a href="/home">Home</a></li>
		  <!-- <li><a href="/home/productlist">Product</a></li> -->
		  <li class="dropdown">
		    <a href="javascript:void(0)" class="dropbtn">Product</a>
		    <div class="dropdown-content">
		    	<a href="/home/productlist">Product List</a>
		    	<a href="/home/addproduct">Add New Product</a>
		    </div>
		  </li>
		  <!-- <li><a href="/home/userlist">Employee</a></li> -->
		  <li class="dropdown">
		    <a href="javascript:void(0)" class="dropbtn">Employee</a>
		    <div class="dropdown-content">
		    	<a href="/home/userlist">Employee List</a>
		    	<a href="/home/adduser">Add New Employee</a>
		    </div>
		  </li>
		  <li><a href="/home/profile">Profile</a></li>
		  <li><a href="/home/about">About</a></li>
		  <li class="dropdown">
		    <a href="javascript:void(0)" class="dropbtn">Admin</a>
		    <div class="dropdown-content">
		    	<a href="/logout">Logout</a>
		    </div>
		  </li>
	</ul>

</br>

<center>
	<form method="post">

		<table border="0">
			<tr>
				<td>Id</td>
				<td><%= user.id %></td>
				<input type="hidden" name="id" value="<%= user.id %>">
			</tr>
			<tr>
				<td>Name</td>
				<td><input type="text" name="name" value="<%= user.name %>"></td>
			</tr>
			<tr>
				<td>User Name</td>
				<td><input type="text" name="username" value="<%= user.username %>"></td>
			</tr>
			<tr>
				<td>Password</td>
				<td><input type="password" name="password" value="<%= user.password %>"></td>
			</tr>
			<tr>
				<td>Type</td>
				<td><input type="text" name="type" value="<%= user.type %>"></td>
			</tr>
			<tr>
				<td>Address</td>
				<td><input type="text" name="address" value="<%= user.address %>"></td>
			</tr>
			<tr>
				<td><input type="submit" name="submit" value="Save" /></td>
				<td></td>
			</tr>
		</table>
	</form>
</center>

</body>
</html>